<div id="search-div">
  <input type="text" #search placeholder="Upišite pojam" (keyup)="onSearch(search.value)">
</div>

<div class="products-wrapper">
  <div class="product" *ngFor="let product of (products | async)">
    <div class="content-header">
      <h2>
        <a
          [routerLink]="['/proizvod', product.id]"
          routerLinkActive="router-link-active"
          >{{ product.naziv }}</a
        >
        <app-favourite-add (message)="onMessage($event)" [product]="product"></app-favourite-add>
      </h2>
      <h3>{{ product.cijena }} €</h3>
    </div>
    <div class="content-main">
      <div class="image-wrapper">
        <img
          src="../../../assets/images/{{ product.image_name }}"
          alt="{{ product.naziv }}"
        />
      </div>
      <p class="opis">{{ product.opis }}</p>
    </div>
    <app-rate [recenzije]="product.recenzije"></app-rate>
  </div>
</div>

<app-message [messageText]="message"></app-message>
